.App{
    display: flex;
    margin: auto;
    margin-top: 5vh;
    background-color: #F5F7FB;
    width: 800px;
    height: 800px;
    
}

.img--upper-right{
    display: absolute;
    width: 10rem;
    height: 10rem;
    margin: 0 0 auto auto;
}

.img--bottom-left{
    display: absolute;
    width: 10rem;
    height: 10rem;
    margin: auto auto 0 0 ;
}

.homepage {
    display: table;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #293264;
}

.homepage > h2 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
}

.homepage > p {
    margin-bottom: 25px;
    font-weight: 400;
}

.homepage > button {
    display: table;
    margin: auto;
    background: #4D5B9E;
    border-radius: 15px;    
    width: 193px;
    height: 52px;
    border: none;
    color: #F5F7FB;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.homepage > button:focus {
    outline: none;
}

.homepage > button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}